{{! PURPOSE: THIS PARTIAL IS USED TO RENDER THE BLOG POSTS ON THE DASHBOARD PAGE }}
{{! NOTES: THIS PARTIAL IS USED IN THE DASHBOARD PAGE }}
{{! RENDERS BLOG POST TITLE (LINK), USERNAME, DATE, DESCRIPTION & EDIT/DELETE BUTTONS ON DASHBOARD PAGE }}
<div class="container">
  <div class="row">
    <div class="card text-dark shadow mb-3">
      <div class="text-center mx-auto p-3">
        <h2><a href="/blogPost/{{id}}">{{title}}</a></h2>
        <p>Created by {{user.name}} on {{format_date date_created}}</p>
        <p>{{description}}</p>
        <button
          class="btn btn-dark"
          id="editBtn"
          data-id="{{id}}"
        >Edit</button>
        <button
          class="btn btn-dark"
          id="deleteBtn"
          data-id="{{id}}"
        >Delete</button>
      </div>
    </div>
  </div>
</div>